{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>

<!-- Signature -->
<script src={% static "js/dev/signature/scripts/sketchpad.js" %}></script>

{% if request.path == '/scheadule/' %}
<!-- Scheadule -->
<link href={% static "js/dev/fullcalendar/core/main.css" %} rel='stylesheet' />
<link href={% static "js/dev/fullcalendar/daygrid/main.css" %} rel='stylesheet' />
<link href={% static "js/dev/fullcalendar/list/main.css" %} rel='stylesheet' />
<link href={% static "js/dev/fullcalendar/timegrid/main.css" %} rel='stylesheet' />
<link href={% static "js/dev/fullcalendar/bootstrap/main.css" %} rel='stylesheet' />

<script src={% static "js/dev/fullcalendar/core/main.js" %}></script>
<script src={% static "js/dev/fullcalendar/daygrid/main.js" %}></script>
<script src={% static "js/dev/fullcalendar/list/main.js" %}></script>
<script src={% static "js/dev/fullcalendar/interaction/main.js" %}></script>
<script src={% static "js/dev/fullcalendar/timegrid/main.js" %}></script>
<script src={% static "js/dev/fullcalendar/bootstrap/main.js" %}></script>

<script src="{% static "js/dev/scheadule.js" %}"></script>
{% endif %}

<script src="{% static "js/dev/cookies.js" %}"></script>
<script src="{% static "js/dev/checklist.js" %}"></script>
<script src="{% static "js/dev/reports.js" %}"></script>
<script src="{% static "js/dev/report.js" %}"></script>
<script src="{% static "js/dev/sign.js" %}"></script>

{% comment %} <script src="{% static "js/dev/recognition.js" %}"></script>
<script src="{% static "js/dev/recognition/speechRecognition.js" %}"></script>
<script src="{% static "js/dev/recognition/controller.js" %}"></script> {% endcomment %}

<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>