{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10%;">
        <form>
            <div class="form-group">
                <p class="h5 text-center">Логин</p>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите логин">
            </div>
            <div class="form-group">
                    <p class="h5 text-center">Пароль</p>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}