{% extends 'base.html' %}
{% block content %}
{% load static %}

<p class="h1 text-center mt-5 pt-5">Здравствуйте!</p>
<p class="h3 text-center mt-5">Вы вошли как {{user.first_name}} {{user.last_name}}</p>

{% endblock %}