{% load static %}
{% load filters %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #094ea3!important">
  <a href="/"><img src="{% static "img/dev/logo_img.png" %}" alt="RGB" style="width:50px; padding:5px;"></a>
  <a class="navbar-brand" href="/">
    <p class="h2" style="font-family:Scada; display:inline; font-weight:bold; letter-spacing:0.1em; margin-left:6px;">РУСГАЗ</p>
    <p class="h2" style="font-family:Scada; display:inline; font-weight:bold; letter-spacing:0.1em; color:#5cb9e5; margin-left:-6px;">БУРЕНИЕ</p>
    <p class="h4" style="font-family:Scada; display:inline; font-weight:bold; letter-spacing:0.1em; margin-left:6px;">SUPERVISOR</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    {% if user.is_authenticated %}
      <ul class="navbar-nav mt-2 mr-auto" style="margin-top:13px!important;">
        <!--li class="nav-item {% if request.get_full_path == "/scheadule/" %}active{% endif %}">
          <a class="nav-link" href="/scheadule"><p class="h4">График</p></a>
        </li-->

        {% if request.user|has_group:"Supervisor" %} 
          <li class="nav-item {% if request.get_full_path == "/checklists/" %}active{% endif %}">
            <a class="nav-link" href="/checklists"><p class="h4">Чеклисты</p></a>
          </li>
        {% else %}
          <li class="nav-item {% if request.get_full_path == "/admin/" %}active{% endif %}">
            <a class="nav-link" href="/admin"><p class="h4">Управление</p></a>
          </li>
        {% endif %}

        <li class="nav-item {% if request.get_full_path == "/reports/" %}active{% endif %}">
          <a class="nav-link" href="/reports"><p class="h4">Отчеты</p></a>
        </li>
      </ul>

      <span class="navbar-text" style="margin-top:13px;">
        <p class="h4" style="color:white">{{user.first_name}} {{user.last_name}}</p>
      </span>
      <span class="navbar-text" style="margin-top:13px;">
        <a class="nav-link" href="{% url 'logout' %}"><p class="h4">Выход</p><span class="sr-only">(current)</span></a>
      </span>

    {% endif %}
  </div>
</nav>