{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-danger mt-3" role="alert">
    Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.
  </div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <div class="alert alert-danger mt-3" role="alert">
      Ваша учетная запись не имеет доступа к этой странице.
    </div>
  {% else %}
    <div class="alert alert-danger mt-3" role="alert">
      Пожалуйста, войдите, чтобы увидеть эту страницу.
    </div>
  {% endif %}
{% endif %}

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10%;">
        <form method="post" action="{% url 'login' %}">

            {% csrf_token %}

            <div class="form-group">
                <p class="h5 text-center">Логин</p>
                <input type="text" class="form-control" name="username" placeholder="Введите логин">
            </div>

            <div class="form-group">
                    <p class="h5 text-center">Пароль</p>
                <input type="password" name="password" class="form-control" placeholder="Введите пароль">
            </div>

            <div class="d-flex justify-content-center pb-5">
                <button type="submit" value="login" class="btn btn-primary">Войти</button>
            </div>

            <input type="hidden" name="next" value="" />

            <p class="d-flex justify-content-center mt-5 pt-5"><a href="{% url 'password_reset' %}">восстановить пароль</a></p>
        </form>
    </div>
</div>

{% endblock %}
