<style>
    @font-face {
        font-family: "Font";
        src: url("../font.ttf");
    }
    .table {
        font-family: "Font";
    }
    @page {
        size: A4;
        margin: 1cm;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
        background-color: #fff;
    }
    .table th {
        font-size: 12px;
    }
    .table th,
    .table td {
        padding: 5px;
        vertical-align: top;
        border-bottom: 1px solid #000;
        text-align: center;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #000;
    }
    .table tbody + tbody {
        border-top: 2px solid #000;
    }
    .table .table {
        background-color: #fff;
    }
    .list-group {
        display: block;
        width: 100%;
        list-style: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .list-group p {
        width: 100%;
        height: 20px;
        line-height: 20px;
        list-style: none;
        font-size: 1.1em;
    }
</style>

<br>
<h6 class="table">ProNova Supervisor</h5>
<h3 class="table">Чеклист № {{ checklist.0.sys_number }}:</h5>
<h1 class="table" style="margin-top:-20px;">{{ checklist.0.name }}</h4>
<br>

{% if points %}
<div class="table">
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Пункт</th>
                <th>Статус</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            {% for point in points %}
                <tr>
                    <td style="width: 5%;">{{ point.position }}</td>
                    <td style="width: 60%;">{{ point.text }}</td>
                    <td style="width: 5%;"> </td>
                    <td style="width: 30%;"> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
    <p>дата: </p><br>
    <p>Подпись супервайзера:</p>
</div>
{% else %}
    <p>Чеклист пуст</p>
{% endif %}