{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="nav h4 pt-3">
  <a class="nav-link" href="/">Главная</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Чеклисты</a>
</nav>
<nav class="nav h6 pt-2">
  <a class="nav-link show_schedule_pdf" href="#">показать график</a>
</nav>

<embed class="d-none schedule_pdf" src="{% static "/pdf/schedule/25_12_2019.pdf" %}" width="100%" height="100%" />

<nav class="nav h6 pt-2">
  <a class="nav-link d-none hidden_schedule_pdf_bottom" href="#">скрыть график</a>
</nav>

<br>

{% if checklists %}
    <div class="table-responsive">
    <table class="table table-striped table-sm table-hover h5">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
            {% for checklist in checklists %}
                <tr onclick="window.location.href='{{ checklist.id }}'; return false" style="cursor: pointer;">
                    <td>{{ checklist.sys_number }}</td>
                    <td>{{ checklist.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p>Нет чеклистов.</p>
{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
