{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="nav h4 pt-3">
  <a class="nav-link" href="/">Главная</a>
  <a class="nav-link" href="/checklists/">Чеклисты</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Чеклист № {{ checklist.0.sys_number }}</a>
</nav>
<hr>

<h2>{{ checklist.0.name }}</h2>
<div data-checklist_id="{{ checklist.0.id }}" class="checklist_id"><div>
<div data-check_id="{{ check_id }}" class="check_id"><div>
<br>

<form class="ml-3" style="width:70%">
  <div class="row">
    <div class="col checklist_header_data">
        <label class="form-check-label h5 h5" for="well_number">Скважина №</label>
        <input type="text" class="form-control" id="well_number" placeholder="заполнить">
    </div>
    <div class="col checklist_header_data">
        <label class="form-check-label h5" for="cluster_number">Куст №</label>
        <input type="text" class="form-control" id="cluster_number" placeholder="заполнить">
    </div>
    <div class="col checklist_header_data" style="width:50%">
        <label class="form-check-label h5" for="occurrence">Месторождение</label>
        <input type="text" class="form-control" id="occurrence" placeholder="заполнить">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col checklist_header_data">
        <label class="form-check-label h5" for="drilling_contractor">Буровой подрядчик</label>
        <input type="text" class="form-control" id="drilling_contractor" placeholder="заполнить">
    </div>
    <div class="col checklist_header_data">
        <label class="form-check-label h5" for="ongoing_work">Проводимая работа</label>
        <input type="text" class="form-control" id="ongoing_work" placeholder="заполнить">
    </div>
  </div>
  <hr>
  {% for filed in header_field %}
    <div class="row pb-3">
      <div class="col checklist_header_data"">
          <label class="form-check-label h5" for="{{ filed.html_id }}">{{ filed.html_name }}</label>
          <input type="{{ filed.html_type }}" data-name="{{ filed.html_name }}" class="form-control header_field" id="header_field_{{ filed.html_id }}" placeholder="{{ filed.html_placeholder }}">
      </div>
    </div>
  {% endfor %}
</form>
<br>
<br>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#skipModal">сбросить проверку</button><br><br>

{% if points %}

<form action="">
    <div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th><p class="h4">№</p></th>
            <th><p class="h4">Пункт</p></th>
            <th><p class="h4">Комментарий</p></th>
            <th><p class="h4">Статус</p></th>
        </tr>
        </thead>
        <tbody>

            {% for point in points %}
                <tr class="point_data" style="
                  {% if point.position == 0 and point.header_position != 0 %}
                    {% comment %} background-color: #6d6d6d; color: white; {% endcomment %}
                  {% elif point.position == 0 and point.header_position == 0 %}
                    background-color: #6d6d6d; color: white;
                  {% elif point.position == None %}
                  {% else %}
                  {% endif %}
                ">
                    <td>
                      {% if point.position == 0 and point.header_position != 0 %}
                        <p class="h5">{{ point.header_position }}</p>
                      {% elif point.position == 0 and point.header_position == 0 %}
                        <p class="h5"></p>
                      {% elif point.position == None %}
                        <p class="h5">{{ point.header_position }}</p>
                      {% else %}
                        <p class="h5 pl-2" style="display:inline">{{ point.header_position }}.</p><p class="h6" style="display:inline; padding-left:2px">{{ point.position }}</p>
                      {% endif %}
                    </td>
                    <td>
                      {% if point.position == 0 and point.header_position != 0 %}
                        <p class="h5" style="white-space: pre-line;">{{ point.text }}</p>
                      {% elif point.position == 0 and point.header_position == 0 %}
                        <p class="h3" style="white-space: pre-line;">{{ point.text }}</p>
                      {% elif point.position == None %}
                        <p class="h5" style="white-space: pre-line;">{{ point.text }}</p>
                      {% else %}
                        <p class="h6 pl-2" style="display:inline; white-space: pre-line;">{{ point.text }}</p>
                      {% endif %}
                    </td>
                    <td>
                      <input  data-toggle="modal" data-target="#exampleModalComment_{{point.id}}" type="text comment" data-id="{{point.id}}" class="form-control comment comment_{{point.id}} {% if point.position == 0 %}invisible{% endif %}" id="formGroupExampleInput" placeholder="...">
                    </td>
                    <td>
                      <div class="ch_bx {% if point.position == 0 %}invisible{% endif %}" >
                          <div class="checkbox checkbox-slider--b-flat checkbox-slider-lg" data-checkbox_id="{{point.id}}">
                          <label style="margin-bottom: 0px;">
                              <input data-point_id="{{point.id}}" id="checkbox_ios_{{point.id}}" class="checkbox_ios" type="checkbox"><span></span>
                          </label>
                      </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    {% for sign in signs %}
        <div class="position_id" data-position_id="{{sign.position_id}}"></div>
    {% endfor %}

    <br>
    <p class="ml-3 h6">ВНИМАНИЕ! Перейдя к этапу сбору подписей, изменить результаты проверки будет невозможно</p>
    <button id="send_checklist" type="button" class="btn btn-success btn-lg m-3">Поставить подписи</button><br><br>
    <!--a href="/checklists/{{checklist.0.id}}/pdf" target="_blank" class="btn btn-secondary btn-lg active ml-3 mt-5" role="button" aria-pressed="true">Получить PDF</a-->
</form>

<div class="modal mt-5 pt-5" tabindex="-1" role="dialog" id="show_checklist_err">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Внимание</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="checklist_err_msg" class="h4"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>


{% for point in points %}
  <!-- Modal comment -->
  <div class="modal fade" id="exampleModalComment_{{point.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Комментарий</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlTextarea_{{point.id}}">Введите комментарий</label>
            <textarea class="form-control" id="exampleFormControlTextarea_{{point.id}}" rows="6"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" data-id="{{point.id}}" class="btn btn-primary btn-comment">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="modal fade bd-example-modal-lg" id="skipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы точно хотите сбросить результаты проверки?<br>
        Все отмеченные пункты и комментарии будут очищены
      </div>
      <div class="modal-footer">
        <button type="button" id="skip_checklist" class="btn btn-primary mr-5" data-dismiss="modal">Да, сбросить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

{% else %}
    <p>Чеклист пуст</p>
{% endif %}

{% endblock %}