
{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="nav h4 pt-3 pb-3">
  <a class="nav-link" href="/">Главная</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отчеты</a>
</nav>
{% comment %} <br> {% endcomment %}

<div>
    <div style="overflow: hidden; float: left;" class="ml-3 mb-4">
        <p style="overflow: hidden;" class="h4 pt-1">сортировка по</p>
    </div>
    <div style="overflow: hidden; float: left;" class="btn-group ml-3" role="group" aria-label="Basic example">
        {% if order_by == '-created' %}
            <button data-order_by="-created" type="button" class="sort btn btn-secondary">дате</button>
            <button data-order_by="status" type="button" class="sort btn btn-outline-secondary">статусу</button>
        {% elif order_by == 'status' %}
            <button data-order_by="-created" type="button" class="sort btn btn-outline-secondary">дате</button>
            <button data-order_by="status" type="button" class="sort btn btn-secondary">статусу</button>
        {% endif %}
    </div>
    {% comment %} <div style="overflow: hidden; float: left;" class="ml-4 mb-4 mr-3">
        <p style="overflow: hidden;" class="h4 pt-1">супервайзер</p>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            все
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">все</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> {% endcomment %}
</div>

{% if reports %}
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm h5">
        <thead>
        <tr style="letter-spacing: 0.03em;">
            <th>№</th>
            <th>Чеклист</th>
            <th></th>
            <th>Супервайзер</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr onclick="window.location.href='{{ report.id }}'; return false" style="cursor: pointer;">
                    <td>{{ report.id }}</td>
                    <td>{{ report.check_list.sys_number }}: {{ report.check_list.name }}</td>

                    {% if report.status.name == 'in_work' %}
                        <td style="background-color:blue; color:white; text-align:center;">ПОДПИСАТЬ</td>
                    {% elif report.status.name == 'done' %}
                        <td style="background-color:green; color:white; text-align:center;">ЗАВЕРШЕН</td>
                    {% else %}
                        <td style="background-color:grey; color:white; text-align:center;">ДРУГОЕ</td>
                    {% endif %}

                    <td>{{ report.supervisor.first_name }} {{ report.supervisor.last_name }}</td>
                    <td>{{ report.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p>Нет чеклистов.</p>
{% endif %}
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
