{% load static %}

    <style>
        @font-face { 
            font-family: "Font";
            src: url("/home/pronova/pnva/static/fonts/font.ttf");
        }
        .table {
            font-family: "Font";
        }
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th {
            font-size: 12px;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-bottom: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<br>
<img style="width:100%%" src="/home/pronova/pnva/static/img/dev/rgb_blank.jpg" alt=""/>
<div>
    <h5 class="table">
        Отчет № {{ report.0.id }} по чеклисту № {{ report.0.check_list.sys_number }}:
    </h5>
    <h1 class="table" style="text-align:center;">
        {{ report.0.check_list.name }}
    </h1>

    <h5 class="table" style="display:inline-block;">
        Супервайзер: {{ report.0.supervisor.first_name }} {{ report.0.supervisor.last_name }}___
    </h5>
    <h5 class="table" style="display:inline-block;">
        Дата: {{ report.0.created }}
    </h5>
<br>
    <h5 class="table" style="display:inline-block">
        Скважина: {{ report.0.well_number }}___
    </h5>
    <h5 class="table" style="display:inline-block">
        Куст: {{ report.0.cluster_number }}___
    </h5>
    <h5 class="table" style="display:inline-block">
        Месторождение: {{ report.0.occurrence }}
    </h5>
<br>
    <h5 class="table" style="display:inline-block">
        Буровой подрядчик: {{ report.0.drilling_contractor }}___
    </h5>
    <h5 class="table" style="display:inline-block">
        Проводимая работа: {{ report.0.ongoing_work }}
    </h5>
    {% for filed in header_field %}
        <br>
        <h5 class="table" style="display:inline-block">
            {{ filed.name }}: {{ filed.context }}
        </h5>
    {% endfor %}
</div>
<br>

{% if report_points %}

<div class="table">
    <table border="1">
        <thead>
        <tr>
            <th style="color:white; background-color:#094ea3!">№</th>
            <th style="color:white; background-color:#094ea3!">Наименование требований</th>
            <th style="color:white; background-color:#094ea3!">Cтатус</th>
            <th style="color:white; background-color:#094ea3!">Примечание</th>
        </tr>
        </thead>
        <tbody>
            {% for report_point in report_points %}
            
                <tr>
                    <td style="width: 5%;">
                        {% if report_point.point.position == 0 and report_point.point.header_position != 0 %}
                            <p class="h5" style="white-space: pre-line;">{{ report_point.point.header_position }}</p>
                        {% elif report_point.point.position == 0 and report_point.point.header_position == 0 %}
                            <p class="h5" style="white-space: pre-line;"></p>
                        {% elif report_point.point.position == None %}
                            <p class="h5" style="white-space: pre-line;">{{ report_point.point.header_position }}</p>
                        {% else %}
                            <p class="h5 pl-2" style="display:inline; white-space: pre-line;">{{ report_point.point.header_position }}.</p><p class="h6" style="display:inline; padding-left:2px">{{ report_point.point.position }}</p>
                        {% endif %}
                    </td>
                    <td style="text-align:left;">
                        {% if report_point.point.position == 0 and report_point.point.header_position != 0 %}
                            <p style="font-size: 12px;">{{ report_point.point.text }}</p>
                        {% elif report_point.point.position == 0 and report_point.point.header_position == 0 %}
                            <p style="font-size: 15px;">{{ report_point.point.text }}</p>
                        {% elif report_point.point.position == None %}
                            <p style="font-size: 12px;">{{ report_point.point.text }}</p>
                        {% else %}
                            <p style="display:inline; font-size:10px;">{{ report_point.point.text }}</p>
                        {% endif %}   
                    </td>
                    <td style="width: 12%; text-align:left;">
                        {% if report_point.point.position != 0 %}
                            {% if report_point.status %}
                                <span style="color: green; font-size: 12px; text-align:left;">да</span>
                            {% else %}
                                <span style="color: red; font-size: 12px; text-align:left;">нет</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="width: 20%;text-align:left;">{{ report_point.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <table>
        <thead>
        </thead>
        <tbody>
            {% for sign in report_signs %}
                <tr>
                    <td valign="bottom" style="text-align:left;">{{sign.person.position}}</td>
                    <td valign="bottom" style=""><img style="width:270px" src="{{sign.data_image}}" width="190px" height="70px" class="sign_{{sign.person.id}}" alt=""/></td>
                    <td valign="bottom" style="text-align:left;">{{sign.person.surname}} {{sign.person.name}} {{sign.person.patronymic}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% else %}
    <p>Чеклист пуст</p>
{% endif %}
