{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="nav h4 pt-3">
  <a class="nav-link" href="/">Главная</a>
  <a class="nav-link" href="/reports/">Отчеты</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отчет по чеклисту № {{ report.0.check_list.sys_number }}</a>
</nav>
<hr>
<div id="report_id" data-id="{{ report.0.id }}"></div>
<div>
    <p class="h2">{{ report.0.check_list.name }}</p><br><br>
    <div style="overflow: hidden;">
        <p class="pr-2" style="float: left;">Супервайзер: </p><p class="h4 pr-5" style="float: left;">{{ report.0.supervisor.first_name }} {{ report.0.supervisor.last_name }}</p>
        <p class="pr-2" style="float: left;">дата: </p><p class="h4 pr-5" style="float: left;">{{ report.0.created }}</p>
    </div>
    <br>
    <div style="overflow: hidden;">
        <p class="pr-2" style="float: left;">Скважина: </p><p class="h4 pr-5" style="float: left;">{{ report.0.well_number }}</p>
        <p class="pr-2" style="float: left;">Куст: </p><p class="h4 pr-5" style="float: left;">{{ report.0.cluster_number }}</p>
    </div>
    <div style="overflow: hidden;">
        <p class="pr-2" style="float: left;">Месторождение: </p><p class="h4 pr-3" style="float: left;">{{ report.0.occurrence }}</p>
    </div>
    <div style="overflow: hidden;">
        <p class="pr-2" style="float: left;">Буровой подрядчик: </p><p class="h4 pr-5" style="float: left;">{{ report.0.drilling_contractor }}</p>
    </div>
    <div style="overflow: hidden;">
        <p class="pr-2" style="float: left;">Проводимая работа: </p><p class="h4 pr-3" style="float: left;">{{ report.0.ongoing_work }}</p>
    </div>
    {% for filed in header_field %}

        <div style="overflow: hidden;">
            <p class="pr-2" style="float: left;">{{ filed.name }}: </p><p class="h4 pr-3" style="float: left;">{{ filed.content }}</p>
        </div>

    {% endfor %}
</div>
<br>
<br>

{% if report_points %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th><p class="h3"></p></th>
            <th><p class="h3"></p></th>
            <th><p class="h3">Пункт</p></th>
            <th><p class="h3">Комментарий</p></th>
        </tr>
        </thead>
        <tbody>
            {% for report_point in report_points %}
            
                <tr>
                    <td>
                        {% if report_point.point.position != 0 %}
                            {% if report_point.status %}
                                <span class="badge badge-success justify-content-center">
                                    <p class="h4">да</p>
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <p class="h4">нет</p>
                                </span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                      {% if report_point.point.position == 0 and report_point.point.header_position != 0 %}
                        <p class="h5" style="white-space: pre-line;">{{ report_point.point.header_position }}</p>
                      {% elif report_point.point.position == 0 and report_point.point.header_position == 0 %}
                        <p class="h5" style="white-space: pre-line;"></p>
                      {% elif report_point.point.position == None %}
                        <p class="h5" style="white-space: pre-line;">{{ report_point.point.header_position }}</p>
                      {% else %}
                        <p class="h5 pl-2" style="display:inline; white-space: pre-line;">{{ report_point.point.header_position }}.</p><p class="h6" style="display:inline; padding-left:2px">{{ report_point.point.position }}</p>
                      {% endif %}
                    </td>
                    <td>
                        {% if report_point.point.position == 0 and report_point.point.header_position != 0 %}
                            <p class="h5">{{ report_point.point.text }}</p>
                        {% elif report_point.point.position == 0 and report_point.point.header_position == 0 %}
                            <p class="h3">{{ report_point.point.text }}</p>
                        {% elif report_point.point.position == None %}
                            <p class="h5">{{ report_point.point.text }}</p>
                        {% else %}
                            <p class="h6 pl-2" style="display:inline">{{ report_point.point.text }}</p>
                        {% endif %}                    </td>
                    <td><p class="h4">{{ report_point.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <p class="h2">Подписи:</p>
    
    {% for sign in report_signs %}
    
        <div class="mt-1 person_{{sign.person.id}} sign_element">
            {% if report.0.status.name == "in_work" and report.0.supervisor.id == request.user.id %}
                <button 
                    type="button"
                    data-person_id="{{sign.person.id}}"
                    class="btn btn-danger btn-lg open_modal sign_btn mt-3" 
                    data-toggle="modal" 
                    data-target=".signs_list_modal_{{sign.person.id}}"
                >
                    выбрать подпись
                </button>
            {% endif %}
            <div style="display:inline">
                <div class="sign_id_person_{{sign.person.id}}" style="display:inline" data-sign_id={{sign.id}}></div>
                <div class="position_person_{{sign.person.id}}" style="display:inline" data-position_id={{sign.person.position.id}}></div>
                <p style="display:inline" class="h6 ml-3 person_position person_{{sign.person.id}}_position">{{sign.person.position}}:</p>
                <p style="display:inline" class="h4 ml-1 sign_text person_{{sign.person.id}}_surname">{{sign.person.surname}}</p>
                <p style="display:inline" class="h4 ml-2 sign_text person_{{sign.person.id}}_name">{{sign.person.name}}</p>
                <p style="display:inline" class="h4 ml-1 sign_text person_{{sign.person.id}}_patronymic">{{sign.person.patronymic}}</p>
            </div>
            <img src="{{sign.data_image}}" width="30%" height="30%" class="sign_{{sign.person.id}} sign_img" alt=""/>
        </div>

    <div class="modal fade bd-example-modal-xl sign_modal_{{sign.person.id}}" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="height:100%">
                
                <div class="modal-header">
                    <h5 class="modal-title exampleModalLabel_{{sign.person.id}}" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="needs-validation" novalidate>
                    <div class="modal-body">
                            <div class="form-row">
                                <div class="col">
                                    <label for="form_surname">Фамилия</label>
                                    <input type="text" class="form-control surname" placeholder="" x-webkit-speech required>
                                </div>
                                <div class="col">
                                    <label for="form_name">Имя</label>
                                    <input type="text" class="form-control name" placeholder="" x-webkit-speech required>
                                </div>
                                <div class="col">
                                    <label for="form_patronymic">Отчество</label>
                                    <input type="text" class="form-control patronymic" placeholder="" x-webkit-speech required>
                                </div>
                                <input type="hidden" class="person_id">
                            </div>

                        <p class="h5 mt-3">Распишитесь:</p>
                        <button type="button" class="sketchpad_{{sign.person.id}}_clear btn btn-secondary clear_sign mt-1 ml-1" style="position:absolute;">Отменить</button>
                        <canvas class="sketchpad sketchpad_{{sign.person.id}}" id="sketchpad_{{sign.person.id}}" style="box-shadow:rgb(223, 223, 223) 0px 0px 0px 1px;"><canvas>
                    </div>

                    <div class="mb-2 ml-3">
                        <button type="submit" class="btn btn-primary add_sign_{{sign.person.id}}">Поставить подпись</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-xl signs_list_modal_{{sign.person.id}}" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="height:100%">
                <div class="modal-header">
                    <h5 class="modal-title exampleModalLabel_{{sign.person.id}}" id="exampleModalLabel">{{sign.person.position.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        {% for new_sign in sign.signs_list %}
                            <li class="list-group-item">
                                <button
                                        class="btn btn-primary copy_sign mr-3"
                                        data-sign_id="{{sign.id}}"
                                        data-new_sign_id="{{new_sign.id}}"
                                        data-report_id="{{report.0.id}}"
                                    >
                                    выбрать
                                </button>
                                {{new_sign.person.name}} {{new_sign.person.surname}} {{new_sign.person.patronymic}}
                                <img src="{{new_sign.data_image}}" width="30%" height="30%" class="sign_{{new_sign.person.id}} sign_img" alt=""/>
                            </li>
                        {% endfor %}
                        <button 
                            type="button"
                            data-person_id="{{new_sign.person.id}}"
                            class="btn btn-primary open_modal sign_btn mt-3 mb-3 ml-3"
                            style="width: 20%" 
                            data-toggle="modal" 
                            data-target=".sign_modal_{{sign.person.id}}"
                            data-dismiss="modal"
                        >
                            добавить подпись
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <br>
    <div class="send_report">
        {% if report.0.status.name == "done" and report.0.supervisor.id == request.user.id %}
            <button class="btn btn-lg btn-secondary mt-5 finish_report" aria-pressed="true">Отправить отчет еще раз</buttona>
        {% elif report.0.status.name == "in_work" and report.0.supervisor.id == request.user.id %}
            <button class="btn btn-lg btn-success mt-5 finish_report" aria-pressed="true">Закончить отчет</buttona>
        {% endif %}
    </div>
    <div class="spinner-border text-success ml-4 d-none" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <p class="h6 pt-5 pl-1 show_report_recipients_emails" style="color:#007bff; cursor:pointer">
        показать список рассылки
    </p>
    <p class="h6 pt-2 pl-1 report_recipients_emails d-none">
        {% for email in report_recipients_emails %}
            {% if email != "skokov_k@tde.at" or email != "arina.polisevskaya@tde-group.com" or email != "konstantin.skokov.job@gmail.com" or email != "denis.lushenko@tde-group.com" %}
                {{email}}
                <br>
            {% endif %}
        {% endfor %}
    </p>
    <p class="h6 pt-1 pl-1 hidden_report_recipients_emails_bottom d-none" style="color:#007bff; cursor:pointer">
        скрыть список рассылки
    </p>

    <br><br><br>
    
</div>
<br><br><br>

<div class="modal mt-5 pt-5" tabindex="-1" role="dialog" id="show_sign_err">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Внимание</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="sign_err_msg" class="h4"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% else %}
    <p>Чеклист пуст</p>
{% endif %}

{% endblock %}
