
@page {
    size: A4;
    margin: 1cm;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
}
.table th {
    font-size: 120px;
}
.table th,
.table td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #000;
    text-align: center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #000;
}
.table tbody + tbody {
    border-top: 2px solid #000;
}
.table .table {
    background-color: #fff;
}
.list-group {
    display: block;
    width: 100%;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.list-group p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    list-style: none;
    font-size: 1.1em;
}