{% load static %}

{% include '_main/header.html' %}
{% include '_main/nav.html' %}

<div class="container-fluid">
  <div class="row">
      <div class="container-fluid">

        {% block content %}
        {% endblock content %}

      </div>
  </div>
</div>

{% include '_main/footer.html' %}

