{% extends 'base.html' %}
{% block content %}
{% load static %}

<nav class="nav h4 pt-3">
  <a class="nav-link" href="/">Главная</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">График</a>
</nav>
<br>
<div id="checks_as_list" data-json="{{checks_as_list}}"></div>

{% if checks %}
    <div id='calendar'></div>
    
{% else %}
    <p>Нет чеклистов</p>
{% endif %}

<br><br>
<a href="/admin/scheadule/check/add/"><button type="button" class="btn btn-primary btn-lg btn-block">Добавить проверку в график</button></a>
<br><br><br><br><br><br>

{% endblock %}
